################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sharenode/.vs
/sharenode/sharenode/bin/Debug/net7.0
/sharenode/sharenode/obj/Debug/net7.0
/sharenode/sharenode/obj/Release/net7.0
/sharenode/sharenode/obj
